<h2>Your Bookings</h2>
<div class="cards">
<% @bookings.each do |booking| %>
<div class="card-product" style="width: 400px">
  <img src="<%= booking.personality.image_url %>" />
  <div class="card-product-infos">
    <h2><%= booking.personality.name %></h2>
    <p><%= booking.start_date.day %>/<%= booking.start_date.month %> for <strong><%=  ((booking.end_date - booking.start_date) / 3600).round %> hours </strong> </p>
    <p><% if booking.status == true %>
        Booking Accepted ✔️
       <% elsif booking.status == false %>
        Booking cancelled ❌
       <% else  %>
        Booking Pending ⏱
       <% end %>
    </p>
  </div>
</div>
<% end %>
</div>


<h2>Bookings with you</h2>

<div class="cards">
<% @my_bookings.each do |mybooking| %>
<div class="card-product" style="width: 400px">
  <img src="#" />
  <div class="card-product-infos">
    <h2><%= mybooking.user.first_name %> has booked you</h2>
    <p><%= mybooking.start_date.day %>/<%= mybooking.start_date.month %> for <strong><%=  ((mybooking.end_date - mybooking.start_date) / 3600).round %> hours </strong> </p>
    <p>
      <% if mybooking.status == nil %>
      <%= form_for(mybooking) do |f| %>
      <%= f.submit "Confirm", class: 'btn btn-outline-success btn-sm' %>
      <%= f.submit "Decline", class: 'btn btn-outline-danger btn-sm' %>
      <% end %>
      <% end %>
    </p>
    <p>
      <% if mybooking.status == true %>
        Booking Accepted ✔️
       <% elsif mybooking.status == false %>
        Booking cancelled ❌
       <% end %>

    </p>
</div>
<% end %>
</div>

