<div class="tabs">

  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab4" name="tab-control">
  <ul>
    <li title="Gigs"><label for="tab1" role="button"><span>Upcoming Rentals</span></label></li>
    <li title="Reviews"><label for="tab4" role="button"><br><span>Past Rentals</span></label></li>
  </ul>

  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section>
      <h2>Upcoming Rentals</h2>
      <div class="cards-tab">
       <% @bookings.each do |booking| %>
       <% if booking.end_date > Time.now %>
       <div class="card-product tab" style="width: 300px">
            <img src="<%= booking.personality.image_url %>" />
            <div class="card-product-infos">
              <p style="color: #eb535b"><strong>  <%= booking.personality.user.first_name %>, <%= link_to booking.personality.name, booking_path(booking), style: 'color: #eb535b' %></strong></p>
              <p><%= booking.start_date.day %>/<%= booking.start_date.month %> for <strong><%=  ((booking.end_date - booking.start_date) / 3600).round %> hours </strong> </p>
              <p><% if booking.status == true %>
                  Booking Accepted ✔️
                 <% elsif booking.status == false %>
                  Booking cancelled ❌
                 <% else  %>
                  Booking Pending ⏱
                 <% end %>
              </p>
            </div>
        </div>
        <% end %>
        <% end %>
        </div>
    </section>
    <section>
      <h2>Past Rentals</h2>
       <div class="cards-tab">
       <% @bookings.each do |booking| %>
       <% if booking.end_date < Time.now %>
       <div class="card-product tab" style="width: 300px">
            <img src="<%= booking.personality.image_url %>" />
            <div class="card-product-infos">
              <p style="color: #eb535b"><strong><%= booking.personality.user.first_name %>, <%= link_to booking.personality.name, booking_path(booking), style: 'color: #eb535b' %></strong></p>
              <p><%= booking.start_date.day %>/<%= booking.start_date.month %> for <strong><%=  ((booking.end_date - booking.start_date) / 3600).round %> hours </strong> </p>
              <p><% if booking.status == true %>
                  Booking Accepted ✔️
                 <% elsif booking.status == false %>
                  Booking cancelled ❌
                 <% else  %>
                  Booking Pending ⏱
                 <% end %>
              </p>
            </div>
        </div>
        <% end %>
        <% end %>
        </div>
    </section>
  </div>
</div>

