 <div class="col-xs-12 col-sm-6">
  <div class="text-center">
    <%= simple_form_for [@personality, @booking] do |f| %>

      <div class="booking-card">
        <div >
        <p>From </p>
        <%= f.input :start_date %>
        </div>
        <div>
        <p> To </p>
        <%= f.input :end_date %>
        </div>
        <p> <strong>Total price: <%= @total_price %> €</strong></p>
        <%= f.submit "Book", class: "btn btn-primary"%>
      </div>

    <% end%>

  </div>
</div>
