<div class=container-fluid>
  <div class="container-fluid row">
      <div class="jumbotron col-9">

          <h4>Booking with <%= @booking.personality.name  %></h4>
          <p><%= @booking.start_date.day %>/<%= @booking.start_date.month %> for <strong><%=  ((@booking.end_date - @booking.start_date) / 3600).round %> hours </strong> </p>


           <% @booking.personality_reviews.each do |personality_review|  %>
            <p> <%= personality_review.comment %> <%= '★' * personality_review.rating %></p>
           <% end %>

      </div>


      <div class="jumbotron col-3">
        <img  class="img-thumbnail" src= <%= @booking.personality.image_url %>>
        <%= link_to 'Edit your booking', edit_booking_path %>
      </div>
  </div>
    <div>
      <%= link_to "Back", bookings_path %>
      <%= link_to "Add a new review", new_booking_personality_review_path(@booking) %>

    </div>
</div>

  
