<div class="rentals-container mt-5">
  <div class="card no-border mx-auto " style="width: 27rem;">
    <div class="px-4 pb-4 pt-0">
       <h1 class="card-title">Forgot your password?</h1>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Reset instructions", class: "btn btn-pink w-100" %>
          </div>
        <% end %>
      <div class="pl-3 pb-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
