<% personalities.each do |personality| %>
<div class="card-product">
  <img src= <%= personality.image_url %> />
    <div class="card-product-infos ">
      <h2 style='color:#eb535b;'> <%= personality.user.first_name  %> the <%=  link_to personality.name, personality_path(personality), style: 'color:#eb535b;' %></h2>
      <h3><%= personality.price_hour %>€/hour</h3>
      <!-- <p> <%= personality.description %> </p> -->
    </div>
</div>
<% end %>
