<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card bg-light mb-3 rounded col-xm-12 col-5 ">
       <h1 class="card-title p-3">Edit - <%= @personality.name %></h1>
       <%= simple_form_for @personality do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price_hour %>
          <%= f.input :image_url %>
          <%= f.button :submit, class: "btn-primary" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn btn-danger ml-2" %>
        <% end %>
    </div>
    <div>
      <%= link_to "🗑",
                personality_path(@personality),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <div>
  <%= link_to "Back", personalities_path, class: "btn btn-outline-primary text-center"%>
  </div>
</div>
