<div class="banner" style="background-image: linear-gradient(to right, rgba(247, 140, 160, 0.7) 0%,rgba(249, 116, 143, 0.7) 19%, rgba(253, 134, 140, 0.7) 60%, rgba(254, 154, 139, 0.7) 100%), url(https://miro.medium.com/max/1400/1*btKhyXNSuB0yt2pwIFzA6Q.jpeg);">


  <div class="container">
    <h1 class="pb-0">The whole batch is up for rent</h1>
    <p class="pb-3">Discover skills you never dreamed they had</p>

    <div align="center">
      <%= form_tag personalities_path, method: :get, class: 'form-width w-100 flex d-flex justify-content-center' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control w-50 search-bar",
          placeholder: "Find Dope Personalities by Name or Location"
        %>
        <%= submit_tag "🔎", class: "btn btn-pink-search" %>
      <% end %>
    </div>
      <div class="mouse_scroll">
          <div class="mouse">
            <div class="wheel"></div>
          </div>
          <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
          </div>
      </div>
  </div>
</div>

<div class="text-center mt-5 mx-auto">
  <h3 class= "sub-title">Check out some of the <strong id="orange-word">coolest people</strong> from Batch 448</h3>
</div>

<div class="btn-group ml-3">
  <label>
    <%= link_to "New", personalities_path(sort: :recent), method: "get", remote: true, class: "btn btn-light", type: 'radio'%>
  </label>
  <label>
    <%= link_to "Price", personalities_path(sort: :price), method: "get", remote: true, class: "btn btn-light", type: 'radio'%>
  </label>
  <label>
    <%= link_to "Name", personalities_path(sort: :name), method: "get", remote: true, class: "btn btn-light", type: 'radio'%>
  </label>
</div>



<div class="mb-5">
  <div class="px-4">
    <div class="row justify-content-center justify-content-lg-start" id="personalities-list">
      <%= render 'listing', personalities: @personalities %>
    </div>
  </div>
</div>



<div class="pb-3 mb-5"> </div>


