<div style="margin-bottom: 120px">
  <div class="rentals-container my-5">
    <div class="card no-border mx-auto " style="width: 27rem;">
      <div class="px-4 pb-4 pt-0">
        <h1 class="card-title">Add a new Personality</h1>
         <%= simple_form_for @personality do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price_hour %>
            <%= f.input :image_url %>
            <%= f.button :submit, class: "btn btn-pink w-100" %>
          <% end %>
        <p class="text-center pt-3 back-link"><%= link_to "Back", personalities_path %></p>
      </div>
    </div>
  </div>
</div>
