<div class=container-fluid>
  <div class="container-fluid row">
      <div class="jumbotron col-9">
          <h1 class="display-4"> <%= @personality.name  %> </h1>
          <p class="lead"><%= @personality.description %>.</p>
          <hr class="my-4">
          <p> <%= link_to @personality.user.first_name %> asks for an hourly rate of $<%= @personality.price_hour %> </p>
          <a class="btn btn-primary btn-lg" href="#" role="button"> Book Sini</a>
      </div>
      <div class="jumbotron col-3">
        <img  class="img-thumbnail" src= <%= @personality.image_url %>>
        <% if current_user == @personality.user %>
          <%= link_to 'Edit your personality', edit_personality_path  %>
        <% end %>
      </div>
  </div>
    <div>
      <%= link_to "Back", personalities_path %>
    </div>
</div>
