<div class="container w-100">
  <div class="row jumbotron p-1 m-1 border">
    <div class="col-8 mb-0">
      <% if current_user == @personality.user %>
        <%= link_to 'Edit your personality', edit_personality_path  %>
      <% end %>
      <div class="row">
        <div class="col-3">
          <img class="img-thumbnail" alt="avatar-xl-sqaure" src= <%= @personality.image_url %> />
        </div>
        <div class="col-9">
          <h1 class="text-center"> <%= @personality.name  %> </h1>
          <p id='description' class="lead pt-3 text-center"><%= @personality.description %>.</p>
        </div>
      </div>

        <hr class="my-4">
        <p> <%= link_to @personality.user.first_name %> charges $<%= @personality.price_hour %> per hour</p>
        <a class="btn btn-primary btn-lg" href="<%= new_personality_booking_path(@personality) %>" role="button"> Book </a>

    </div>

    <div class="col-4 mb-0">
      <div id="map"
         style="width: 100% !important; height: 100% !important;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>

<div>
  <%= simple_form_for [@personality, @booking] do |f| %>
        <%= f.datetime_local_field :start_date%>
        <%= f.datetime_local_field :end_date %>
        <%= f.submit "Book", class: "btn btn-primary"%>
  <% end%>
</div>


  <div>
    <%= link_to "Back", personalities_path, class: "btn btn-outline-primary" %>
  </div>

</div>
